#choix
  {
    text-align: left;
  }
#espace
   {
   	padding: 25px;
   }

.table1
{
	left: 0 px;
	padding:10px;
}
   
 img.photo {
 	height: 500px;
 	width: 500px;
	
}
 
   
  #Titre		
  {	
	  font-family: "Comic Sans MS";
	  text-decoration : none;
	  color: #FFFFFF;
	  font-weight : bold;
    text-align:center;
 }

 .div
 {
 	border:0;
	 padding: 50px;
	 width: 97%;
	background-color:#8626A6;
	margin: 2px; 
 }

 .TitreN
 {
 	font-family: "Comic Sans MS";
	text-decoration : none;
	color: #000000;
	font-weight : bold;
   text-align:center;
 }

 .Ligne1
{
	 border:2px solid #8626A6;
	 padding: 20px;
	 border-top-left-radius: 50px;
	 border-bottom-right-radius: 50px;
   box-shadow: 10px 10px 10px 10px #FFFFFF;
	 width: 50%;
	background-color:#F8DAFC;
	margin: 50px; 

	} 

#Ligne2
{
	 border:2px solid #8626A6;
	 background-color:#FFFFFF;
	 width: 50%;

}

.Bouton 
{
	padding-top : 5px;
	padding-bottom : 1px;
	text-align : center;
	height : 30px;
	background-color:#F8DAFC;
	border:2px solid #8626A6;
}

.gh{
	
	font-family: "Comic Sans MS";
	font-weight : bold;
    text-align:center;
    text-decoration : none;
	color:#8626A6;
}

#tableM 
{
    border:border:3px solid #8626A6;
    cellpadding: 2px;
    cellspacing: 0;
     width: 20px;
     bgcolor:F8DAFC#;
}

#Ligne3
{
	 border:2px solid #8626A6;
	 background-color:#FFFFFF;
	 width: 95%;
}

.Liste
{ 
	list-style-type:circle;
}

.block1
{
	grid-area:block1;
	background-color: aqua;
}
.block2
{
	grid-area: block2;
}

.block3
{
	grid-area: block3;
	background-color: #FFFFFF;
}

#principal
{
	background-color:#F8DAFC ;
	display: grid;
	grid-template-columns: auto minmax(100px, 1fr);
	grid-template-areas:"block1" 
											"block2"
											"block3";
	gap: 20px 20px;										
}

.barre
{
	font-size: 20px;
	color: #FFFFFF;
	background-color:#F8DAFC ;
}

img.photo {
height: 200px;
width: 300px;
border-radius: 3000px;
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.9);
background-size: cover;
font-size:1.8em ;
margin: 15px;
font-weight: 300;
font-family:"dancing script", cursive ;
	
}

.fil {
height: 200px;
width: 300px;
border-radius: 3000px;
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.9);
background-size: cover;
font-size:1.8em ;
margin: 15px;
font-weight: 300;
font-family:"dancing script", cursive ;
}
#pa{
	height: 200px;
width: 300px;
border-radius: 3000px;
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.9);
background-size: cover;
font-size:1.8em ;
margin: 15px;
font-weight: 300;
font-family:"dancing script", cursive ;
}


.fil2 {
height: 50px;
width: 60px;
border-radius: 3000px;
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.9);
background-size: cover;
font-size:1.8em ;
margin: 15px;
font-weight: 300;
font-family:"dancing script", cursive ;
}







